* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    height: 50px;
    border-radius: 15px;
    border: none;
    width: 200px;
    color: white;
    background-color: #3498db;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #2980b9;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    row-gap: 15px;
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 7px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2);
}

#slide {
    width:100%;
    padding: 0 15vw;
    position: relative;
    margin:1vw 0 0 0;
}

#slide i{
    font-size: 30px;
}

#slide .slider-container {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}

#slide .slider-container span{
    position: absolute;
    z-index: 99;
    top:50%;
    cursor: pointer;
}

#slide .slider-container .leftBtn{
    left: 12%;
    transform: translate(0,-50%);
}

#slide .slider-container .rightBtn{
    right: 12%;
    transform: translate(0,-50%);
}

#slide .slider-container .slider{
    display:flex;
    width: 101%;
}

#slide .slider-container .slider span{
    display: block;
    position: relative;
    min-width: 100%;
}

#slide .slider-container .slider span .text-wrap{
    position: absolute;
    top:50%;
    left:5%;
    transform:translate(0,-50%);
    width:29%;
    color:#fff;
}

#slide .slider-container .slider span .text-wrap h1{
    line-height: 140%;
    font-size: 33px;
}

#slide .slider-container .slider span .text-wrap h4{
    font-size: 13px;
    margin:30px 0 0 0;
}

#slide .slider-container .slider span .text-wrap h5{
    line-height: 140%;
    font-size: 12px;
    letter-spacing: 1px;
    margin:0 0 10px 0;
}